mapsforge_flutter/pubspec.lock
mapsforge_flutter/.metadata
.idea/
example/.metadata
example/pubspec.lock
simplified_example/.metadata
simplified_example/pubspec.lock
.flutter-plugins-dependencies
flutter_export_environment.sh
mapsforge_flutter/test/failures/
example/.gradle/
mapsforge_flutter/test/integration/failures/
mapsforge_flutter/test/graphicsfactory/failures/
mapsforge_flutter/test_resources/austria.map
/mapsforge_flutter/test/marker/failures/circlemarker_isolatedDiff.png
/mapsforge_flutter/test/marker/failures/circlemarker_maskedDiff.png
/mapsforge_flutter/test/marker/failures/circlemarker_masterImage.png
/mapsforge_flutter/test/marker/failures/circlemarker_testImage.png
