name: mapsforge_flutter_monorepo
description: Offline maps with pure flutter code. Provides rotation, markers, hillshading and much more.
homepage: https://github.com/mikes222/mapsforge_flutter
repository: https://github.com/mikes222/mapsforge_flutter
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
environment:
  sdk: ^3.9.0

dependency_overrides:
  #ecache:
  #  path: ../ecache

dev_dependencies:
  melos: ^7.3.0
workspace:
  - packages/mapsforge_flutter_core
  - packages/mapsforge_flutter_mapfile
  - packages/mapsforge_flutter_renderer
  - packages/mapsforge_flutter
  - packages/mapsforge_flutter_rendertheme
  - apps/mapfile_converter
  - apps/globe_dem_converter
  - apps/simple_example
  - apps/online_renderer_example
  - apps/complete_example

melos:
  command:
    bootstrap:
      dependencies:
        # Upgraded for getOrProduceSync()
        ecache: ^2.1.2

        # flutter_test is not compatible with newer versions currently (08/2025)
        test: ^1.26.2

        xml: ^6.6.1
      hooks:
        post: flutter pub upgrade

  scripts:
    build:
      description: Generates dart files
      run: dart run build_runner build --delete-conflicting-outputs
      packageFilters:
        dependsOn: build_runner

    flutter_test:
      run: melos exec -c 1 --dir-exists="test" --flutter --fail-fast -- flutter test --no-pub --coverage
      description: Run Flutter tests for a specific package in this project.
      select-package:
        flutter: true
        dir-exists: test

    dart_test:
      run: melos exec -c 1 --dir-exists="test" --depends-on="test" --fail-fast -- dart test
      description: Run Dart tests for a specific package in this project.
      select-package:
        flutter: false
        dir-exists: test